[submodule "ew-helper-demo"]
	path = ew-helper-demo
	url = https://github.com/energywebfoundation/ew-helper-demo
[submodule "ew-origin-frontend"]
	path = ew-origin-frontend
	url = https://github.com/energywebfoundation/ew-origin-frontend
[submodule "ew-link-elocity"]
	path = ew-link-elocity
	url = https://github.com/energywebfoundation/ew-link-elocity
